# Python Crash Course 1

#Basics

In [4]:
print("hello world")

hello world

In [5]:
print(1+1)

2

# Run code by :shift enter to run the code (SHIFT + ENTER)
# Run code and add cell : ALT + ENTER

In [11]:
1

1

In [12]:
1.0

1.0

In [13]:
1+1

2

In [15]:
1*3

3

In [16]:
1/2

0.5

In [17]:
2**4

16

In [18]:
2+ 3 * 5 + 5

22

In [19]:
4 % 2 # shows what remains/remainder

0

In [20]:
8 % 2 # remainder = 0

0

In [22]:
var = 2

In [23]:
var

2

In [32]:
x = 2 
y =3

In [33]:
x+y

5

In [34]:
x = x + x

In [35]:
x

4

In [36]:
name_of_var = 12

4

In [37]:
# String

In [38]:
'single quote'

'single quote'

In [39]:
# double quote
"this is a string"

'this is a string'

In [42]:
'\this is a "string" so don chill'

'\this is a "string" so don chill'

In [43]:
"\this is a 'string' so don't worry chill"

"\this is a 'string' so don't worry chill"

In [44]:
x = 'hello'

In [45]:
x

'hello'

In [47]:
num = 12
name = 'sam'

In [49]:
print('my number is {} and my name is {}'.format(num,name))

my number is 12 and my name is sam

In [50]:
print('my number is {one} and my name is {two}'.format(one = num,two =name))

my number is 12 and my name is sam

In [51]:
# string indexing

In [55]:
s = 'hello'

In [56]:
s[0]

'h'

In [57]:
s[-1]

'o'

In [58]:
s[4]

'o'

In [61]:
s = 'abcdefghijk'

In [63]:
s[0:] # starting from 0 grab everything beyond it

'abcdefghijk'

In [67]:
s[:3] # grab everything upto 3 but not the character at given index i.e 3
# 0 -- a, 1---b, 2---c, think of it as from total 3 character = {0,1,2}/{a,b,x}

'abc'

In [65]:
s[0:3]

'abc'

In [82]:
s[3:6]
# count 1 less then the index figure for example
# at index 7 : 0,1,2,3,4,5,6,7 = a,b,c,d,e,f,g
# but g is not taken however it starts from the correct index
# starting point is not to be subtracted by 1

'def'

In [71]:
# list

In [72]:
[1,2,3]

[1, 2, 3]

In [75]:
['a','b','c']

['a', 'b', 'c']

In [78]:
mylist = ['a','b','c','d']

In [80]:
mylist[0]

'a'

In [81]:
mylist[1:3]

['b', 'c']

In [83]:
mylist[0] = 'NEW'

In [84]:
mylist

['NEW', 'b', 'c', 'd']

In [86]:
nest = [1,2,[3,4]]

In [87]:
nest[2][1] # grabbing 4

4

In [88]:
nest[2]

[3, 4]

In [90]:
nest = [1,2,3,[4,5,['target','target2']]]

In [91]:
#grabbing target2
nest[3][2][1]

'target2'

# Python Crash Course 2

In [96]:
d = {'key1': 'value', 'key2': 123}

In [97]:
d['key1']

'value'

In [99]:
d['key2']

123

In [106]:
d = {'k1':[1,2,3]}

In [108]:
d['k1']

[1, 2, 3]

In [110]:
d['k1'][2] # accesing dictionary and key

3

In [111]:
d = {'k1':{'innerkey': [1,2,3]}}

In [112]:
d['k1']['innerkey'][1] #two dictionaries and 1 key

2

In [113]:
# booleans only true and false

In [114]:
True

True

In [116]:
False

False

In [117]:
# tuple

In [118]:
t = (1,2,3)

In [119]:
t[0]

1

In [120]:
my_list = [1,2,3]

In [121]:
my_list[0] = 'NEW'

In [122]:
my_list

['NEW', 2, 3]

In [123]:
t

(1, 2, 3)

In [ ]:
t[0] ='new' # this will not work for tupple since they are immutable, 
            # we cannot ovwerite them/ mutatae them
            # so use tuple when you are sure you don't want to change the item inside

In [124]:
#sets
{1,2,3}

{1, 2, 3}

In [126]:
{1,1,1,2,2,2,3,3,3} # sets only give out unique items

{1, 2, 3}

In [127]:
# set and a list together
# using set to get the unique items out of the list

s = {1,2,3}

In [129]:
set([1,2,3,2,2,2,1,1,1,2,3,4,3,5,1,3,4,4,4])

{1, 2, 3, 4, 5}

In [130]:
a = set([1,2,3,2,2,2,1,1,1,2,3,4,3,5,1,3,4,4,4])

In [131]:
a

{1, 2, 3, 4, 5}

In [140]:
# using sets to remove duplicates in a row and then work on it

for i in a:
    print(i*4)

4
8
12
16
20

In [141]:
# adding a new item in a set
s = {1,2,3}

In [151]:
s.add(4)

In [152]:
s.add(5)

In [153]:
s

{1, 2, 3, 4, 5}

In [154]:
1 > 2

False

In [156]:
1 >=1

True

In [157]:
1 == 3

False

In [158]:
1 == 2-1 == 1

True

In [159]:
1 == 1 == 3 - (2* 0.5) - 1

True

In [160]:
"hi" == "HI"

False

In [161]:
"hi" != "bye"

True

In [163]:
'a' == 'a'

True

In [164]:
1 < 2 and 2 > 3

False

In [165]:
if 1 < 2:
        print('yep!')

yep!

In [166]:
(1>2) or (2>3) or (1==1)

True

In [167]:
(1>2) and (2>3) or (1==1)

True

In [170]:
if 1 != 2:
    print('first')
else:
    print('last')

first

In [172]:
if 1 == 2:
    print('first')
elif 3 == 3:
    print("middle")
else:
    print('last')

middle

In [173]:
if 1 == 2:
    print('first')
elif 4==4:
    print('second')
elif 3 == 3:
    print("middle")
else:
    print('last')

second

# Python Crash Course 3

In [174]:
seq = [1,2,3,4,5]

In [175]:
for jelly in seq:
    print(jelly)

1
2
3
4
5

In [176]:
for jelly in seq:
    print('hello')

hello
hello
hello
hello
hello

In [178]:
i = 1


while i < 5:
    print('i is: {}'.format(i))
    i = i + 1

i is: 1
i is: 2
i is: 3
i is: 4

In [179]:
# important function 

for x in seq:
    print(x)

1
2
3
4
5

In [180]:
for x in range(5):
    print(x)

0
1
2
3
4

In [181]:
range(0,5)

range(0, 5)

In [182]:
list(range(0,5))

[0, 1, 2, 3, 4]

In [185]:
x = [1,2,3,4]

out = []

for num in x:
    out.append(num**2)

print(out)

[1, 4, 9, 16]

In [188]:
# list comprehension

In [189]:
[num **2 for num in x]

[1, 4, 9, 16]

In [190]:
out =  [num **2 for num in x]

In [191]:
out

[1, 4, 9, 16]

In [223]:

# functions

# 1. printing 
# 2. returning 


def my_func(param1):
    print(param1)

In [193]:
my_func('hello')

hello

In [200]:
def my_func(name):
    print('hello'+ " " + name)

In [201]:
my_func('hamza')

hello hamza

In [208]:
def my_func_2(name):
    a = 'hello' + " " + name
    return a
    
my_func_2('hamza')

'hello hamza'

In [209]:
print(my_func_2('hamza'))

hello hamza

In [213]:
def my_func_3(name = 'default name'):
    print('hello ' + name)

In [214]:
my_func_3()

hello default name

In [216]:
my_func_3('hamza')

hello hamza

In [217]:
my_func_3(name = 'hamza')

hello hamza

In [218]:
my_func_3

In [221]:
def square (num):
    return num**2

In [222]:
square(2)

4

In [227]:
def square_and_sum (num,sum_):
    ''' This functions will square the number and then add
    it to the number equivalent to the second parameter of the 
    function'''
    return num**2 + sum_

In [228]:
square_and_sum(2,3)

7

In [229]:
# PRESS SHIFT TAB AFTER THIS, it will allow us to read the doctstring that
# defining the fucntion above 
square_and_sum

# Python Crash Course 4

In [230]:
def times2 (var):
    return var*2

In [231]:
times2(5)

10

In [234]:
seq = [1,2,3,4,5]

In [232]:
# use of function map

# map ()

# we want to multiple a number with each element of list seq

In [235]:
map(times2,seq)

In [237]:
# it will apply the times2 function on each item of list: seq
# and then create a new list containing the results

list(map(times2,seq))

[2, 4, 6, 8, 10]

In [238]:
 # lambda
    
# we don't need to define a function completely
# we can use lambda in syntax to shorten the syntax 
# this way we can remove the unessary wordings such as def,return etc.

In [239]:
def times2 (var): 
    return var*2

In [240]:
def times2(var):return var*2

In [ ]:
#def times2 (var):      
#    return var*2


#[is same as]: 

    
#def times2(var):return var*2

# is same as 

# lambda var: var*2

# lambda function also called anonomous function

In [241]:
lambda var: var*2

In [242]:
t = lambda var: var*2

In [243]:
t(6)

12

In [244]:


#now we can replace function with lambda


# list(map(times2,seq))

In [ ]:
# lambda

In [251]:
seq

[1, 2, 3, 4, 5]

In [245]:
list(map(times2,seq))

[2, 4, 6, 8, 10]

In [246]:
list(map(lambda var: var * 2, seq))

[2, 4, 6, 8, 10]

In [252]:
# creating a new function directly

list(map(lambda num : num * 3, seq))

[3, 6, 9, 12, 15]

In [257]:
seq2 = [1,2,3,4,5]

In [259]:
#filter
# will give out only values that will meet the requirements of
# lambda function, which are divisble by 2 in other words remainder
# should be equal to 0
# Therefore from seq 2 only 2 an 4 will be the output

list(filter(lambda num : num % 2 == 0, seq2))

[2, 4]

In [261]:
s = 'hello my name is Sam'

In [262]:
#press tab after "s.(press tab) to see all the functions
s.upper()

'HELLO MY NAME IS SAM'

In [263]:
s.split()

['hello', 'my', 'name', 'is', 'Sam']

In [276]:
tweet = ' GO sports! #Sports'

In [277]:
tweet.split('#')

[' GO sports! ', 'Sports']

In [278]:
tweet.split('#')[1]

'Sports'

In [279]:
tweet.split('#')[0]

' GO sports! '

In [281]:
d = {'k1': 1, "k2": 2 }

In [282]:
d

{'k1': 1, 'k2': 2}

In [283]:
d.keys()

dict_keys(['k1', 'k2'])

In [284]:
d.items()

dict_items([('k1', 1), ('k2', 2)])

In [285]:
d.values()

dict_values([1, 2])

In [290]:
lst = [1,2,3,4,5]

In [291]:
item = lst.pop()

In [292]:
item

5

In [293]:
first = lst.pop(0)

In [294]:
first

1

In [296]:
lst.append('new')

In [297]:
lst

[2, 3, 4, 'new']

In [298]:
'x' in [1,2,3,4]

False

In [299]:
x in ['y','x''z']

False

In [ ]:
# Tuple Unpacking

In [301]:
x = [(1,2), (3,4), (5,6)]

In [302]:
x[0][1]

2

In [303]:
for item in x:
    print(item)

(1, 2)
(3, 4)
(5, 6)

In [305]:
for (a,b) in x:
    print (a)

1
3
5

In [306]:
for (a,b) in x:
    print (b)

2
4
6

In [307]:
for a,b in x:
    print(a)
    print(b)

1
2
3
4
5
6